@CHARSET "UTF-8";
/* 상속은 무조건 받을 필요 없음 */

body{
	font-family: "맑은 고딕" ;
	font-size: 0.75em;
	color: #333;
	line-height: 1.8em
}

ul.multi{   /* .mult라고 주는 것과 의미상 동일하다. 다만, 가독성과 유지 보수에 good choise */
	margin: 0;
	padding: 0;  /* 마진과 패딩을 초기화 해준다. */
}
ul.multi li{
	margin: 0;
	padding: 0 0 0 15px ;
	list-style: none;   /* 세로로 출력되는 것을 none 시킨다. */
	background-image : url("../../images/bluePoint.png");
	background-repeat : no-repeat ;
	background-position: left center 
}
ul.multi ul li{
	list-style: decimal ;  
	/* 리스트 타입을 숫자로 지정함 */
	margin: 0 0 0 5px;
	padding: 0 ;
	background-image: none
}
ul.multi ul ul li{
	margin: 0 0 0 -20px;
	padding: 0 0 0 15px;
	list-style: none;
	/* 리스트 타입을 none으로 지정하여 list-type이 상속되는 것을 막는다. */
	background-image: url("../../images/bluePoint.png");
	background-repeat: no-repeat;
	background-position: left center;
}