@CHARSET "UTF-8";
@IMPORT url("common.css");

article{
	width: 100%;
	min-height: 50%;
	position: relative;
	z-index: 20;
	margin: -50px 0;  /*위아래는 -50*/
	background-color: #FF6;
}
.content{
	padding-top: 50px;
}  