@CHARSET "UTF-8";

/*게시판 만들때 참고*/

body{
	font-family: "돋음";
	font-size: 0.75em;  /*일반적으로 많이 쓰임*/
	color: #333;
	margin: auto
}
ul.mainMenu{
	/* margin: 5px 0 0 10xp; */
	padding: 0;
	margin: auto
}
ul.mainMenu li{
	list-style-type: none;
	/*윗 문장은 앞부분의 블럿을 없애준다.*/
	display: block;
	/*
		display는 여러가지 형태가 있는데 현재 사용하는 block는 
		말 그대로 li 태그에 있는 내용 하나를 block 시키는 것이다.
	*/
	width: 100px;
	height: 20px;
	text-align: center;
	padding: 3px 0 0 0;
	/* margin: 0 2px 0 0; */
	margin: auto;
	float: left;
	border: 1px solid BLACK;
	border-top-left-radius : 10;    /* radius는 곡선을 줌 */
	border-top-right-radius : 10;   
	background-color: #CCC; 
}
ul.mainMenu li.active{
	background-color: #f7f4df;
	padding-bottom: 1px;
	border-bottom: none;  /* 밑쪽의 테두리를 없애준다. */
	margin: auto
}
ul.mainMenu li:hover{
	background: #f7f4df;
	padding-bottom: 1px;
	border-bottom: 1px;
	cursor: pointer;
	margin: auto
}
/*
	마우스 커서가 해당 메뉴에 올라가게 되면 li.active 와 같은
	효과를 주기 위해 ul.mainMenu li:hover 을 지정했다.
*/

.box{
	/* border-bottom: 1px solid #666; */
	height: 25px;
	margin: auto
}
/*
	전체 메뉴의 밑 부분에 있는 긴 테두리를 만들어 주는 역할을 함.
	여기서 높이값은 조금씩 조절하면서 정확하게 메뉴의 밑 부분에 맞춰야 합니다.
*/

