@CHARSET "UTF-8";
@IMPORT url("common.css");
/*좌측 사이드*/
aside{
	width: 30%;
	min-height: 50%;
	position: relative;
	z-index: 10;
	margin: -50px 0;    
	background-color: #00ff80;
	float: left   /*  float 는 떠있다는 뜻으로 우측정렬을 시키라는 뜻 */
}
.leftSide{
	padding-top: 50px
}
.topMenu{
	float : right ; 
	width : 40%;
	height: 200px;   /* width는 %로 맞춰주고, height는 실제값으로 표시함 */
}

/*우측 컨텐츠*/
article{
width: 70%;
	min-height: 50%;
	position: relative;
	z-index: 10;
	margin: -50px 0;     /* magin은 앞(위,아래), 뒤(좌우) */
	background-color : #68fdf5;
	float: right
}
.rightContent{
	padding-top: 50px
}