@CHARSET "UTF-8";
table {
    border-collapse: collapse;   /* 테이블 셀 사이에 간격을 주지 마라 */
    border-spacing: 0;
    margin: auto;
    
}
.tableTag{
	width: 500px;
	height: 700px;
	margin: auto

}
.tableTag thead tr th{
	border: 1px solid GRAY;
	height: 50px
	margin: auto
}
.tableTag tbody tr td{
	border: 1px solid GRAY
	margin: auto
}
