@CHARSET "UTF-8";

@IMPORT url("father.css");  /* 상속 */

.trClass {
	border: 1px solid black;
	height: 50px
}

.tdClass {
	border: 1px solid black;
	text-align: center;
	background-color: #2fd07b;
	color: white;
	width: 150px;
}

.tdClass2 {
	border: 1px solid black;
	text-align: center;
}